[Desktop Entry]
MimeType=text/x-vertdata;
Terminal=false
Name=Okular
GenericName=Document Viewer
Comment=Universal document viewer
Exec=okular %U
Icon=okular
Type=Application
InitialPreference=3
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
X-KDE-Keywords=vertex
X-KDE-AliasFor=org.kde.okular.desktop
